@media (max-width:534px) and (orientation:landscape) {
    .Wrapper {
        height: 200vh;
    }
}

@media (max-width:241px) and (orientation:portrait) {
    .Wrapper {
        height: 200vh;
    }
}

@media (min-width:600px) {

    .Wrapper {
        display: flex;
        flex-direction: column;

    }

    .App {
        width: 90%;
        height: 80%;
    }

    .App-header {

        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 1.5rem;
    }

    .repo-link {

        font-size: 2.3rem;
    }

    .App-logo-btn {
        font-size: 1.5rem;
    }
}

@media (min-width:600px) and (orientation:landscape) {
    .App-header {

        display: flex;
        flex-direction: row;
    }

    label {
        font-size: 1rem;
    }

    .repo-link {

        font-size: 2rem;
    }

    .App-logo-btn {
        font-size: 0.8rem;
    }

    .logo {
        width: 60%;
    }

    .form-button,
    .input {
        font-size: 1rem;
        padding: 0.2rem 1rem;
    }
}

@media (min-width:768px) and (orientation:portrait) {

    .Wrapper {
        display: flex;
        flex-direction: column;

    }

    .App {
        width: 90%;
        height: 80%;
    }

    .App-header {

        display: flex;
        flex-direction: column;
    }

    label {
        font-size: 2rem;
    }

    .repo-link {

        font-size: 3rem;
    }

    .App-logo-btn {
        font-size: 2.5rem;
    }

    .form-button,
    .input {
        width: 40%;
    }

    .logo {
        width: 100%;
    }

    .form-button,
    .input {
        font-size: 2.5rem;
        padding: 0.6rem 1rem;
        width: 70%;
    }
}

@media (min-width:768px) and (orientation:landscape) {

    .Wrapper {
        display: flex;
        flex-direction: column;

    }

    .App {
        width: 90%;
        height: 80%;
    }

    form {
        height: 40%;
    }

    .App-header {

        display: flex;
        flex-direction: row;
    }

    label {
        font-size: 1.5rem;
    }

    .repo-link {

        font-size: 2.3rem;
    }

    .App-logo-btn {
        font-size: 1.8rem;
    }



    .form-button,
    .input {
        font-size: 1.4rem;
        padding: 0.3rem 1rem;
        width: 40%;
    }
}

@media (min-width:889px) and (orientation:landscape) {

    .Wrapper {
        display: flex;
        flex-direction: column;

    }

    .App {
        width: 90%;
        height: 80%;
    }

    form {
        height: 40%;
    }

    .App-header {

        display: flex;
        flex-direction: row;
    }

    label {
        font-size: 1.5rem;
    }

    .repo-link {

        font-size: 2.5rem;
    }

    .App-logo-btn {
        font-size: 1.8rem;
    }

    .logo {
        width: 80%;


    }

    .App-logo-btn {
        font-size: 1.3rem;
    }

    .form-button,
    .input {
        font-size: 1.4rem;
        padding: 0.3rem 1rem;
        width: 40%;
    }
}

@media (min-width: 1200px) {

    .App {
        width: 50%;
        height: 60%;
    }
}