@media (max-width:361px) and (orientation:portrait) {

    .Wrapper {
        display: flex;
        flex-direction: column;
    }

    .App {
        width: 90%;
        height: 80%;
    }

    .App-header {

        display: flex;
        flex-direction: column;
    }
}